COMMAX_STATE_PATH=.local-test/commax_ew11_state.json
MQTT_TOPIC_PREFIX=devcommax
MQTT_BROKER_URL=192.168.0.34
MQTT_PORT=1883
MQTT_USERNAME=dev
MQTT_PASSWORD=password
EW11_HOST=192.168.0.37
EW11_PORT=8899
EW11_METERING_HOST=
EW11_METERING_PORT=8899
COMMAX_LOG_UNKNOWN_PACKETS=false
COMMAX_LOG_MQTT_COMMANDS=false
COMMAX_RETRY_TIMEOUT_MS=400
COMMAX_MAX_RETRIES=3
